<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "default"
    color = "#fff"
    type = "ball-clip-rotate"
    [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="text-center col-sm-6">
            <h2>Sudoku</h2>
            <br />
            <table class="table table-bordered">
                <tr *ngFor="let row of board; let i = index;">
                    <td *ngFor="let col of row; let j = index;" (click)="setRowCol(i, j)" [ngClass]="highlightCell(i, j)">
                        {{col}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-4">
        <button class="btn btn-primary btn-block" (click)="refreshBoard()">
            <i class="fas fa-redo-alt"></i>
            &nbsp;Reload
        </button>
    </div>
    <div class="col-sm-4"></div>
</div>